@import "tailwindcss";

:root {
  --primary: #00F4FE;
  --secondary: #FFACE8;
  --text: #E2E0FC;
  --bg: #0D0B1F;
  --gris: #7D92B1;
  --fucsia: #DF00C8;

  
--SplineSans: 'Spline Sans';
--BeVietnamPro: 'Be Vietnam Pro';

 
}

@theme {  
  
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-bg: var(--bg);
  --color-gris: var(--gris);
  --color-fucsia: var(--fucsia);
  --color-border-custom: var(--border);

  --font-spline: var(--SplineSans);
  --font-vietnam: var(--BeVietnamPro);
}

body {
  margin: 0;
  
}
#root {
  background-color: var(--bg);
}



